<div toastContainer></div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h3 class="col-10">Liste des clients</h3>

        </div>

        <div class="chargement col" *ngIf="loader">
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body" *ngIf="size<1 && !loader">
      <div class="alert alert-danger">
        Aucune donnée !
      </div>
    </div>

    <div class="card-body" *ngIf="size>0">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Noms</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Offre</th>
          <th scope="col">Statut</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <th scope="row">{{ client.nom}} {{client.prenom}}</th>
          <td>
            {{ client.email }}
          </td>
          <td>{{ client.telephone }}</td>
          <td>/</td>
          <td><i class="badge badge-dark">actif</i></td>
          <td class="text-center">
            <button *ngIf="!client.actif" title="Activer" class="btn btn-outline-success"><span
              class="fas fa-check-square"></span></button>
            <button title="Désactiver" *ngIf="client.actif" class="btn btn-outline-danger m-lg-2"><span
              class="fas fa-trash-restore"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>


