<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Vos modules</h1>
        <hr class="divider"/>
      </div>

    </div>
  </div>
</header>


<section class="pricing-tables mt-4">
  <div class="container">
    <article>
      <h1>Commençons notre apprentissage</h1>
      <div class="row mt-4">
        <div class="cards col-3 mb-2 mr-1">
          <a routerLink="/training/detailsModule/2">
            <div class="cards-body">
              <img src="assets/images/img/bg-masthead.jpg" height="200px">
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries
              </p>

            </div>
            <div class="cards-footer">
              <p>
                32 videos
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not"></span>
              </div>
              <i class="fas fa-heart"></i>
            </div>
          </a>
        </div>

        <div class="cards col-3 mb-2 mr-1">
          <a routerLink="/training/detailsModule/2">
            <div class="cards-body">
              <img src="assets/images/img/bg-masthead.jpg" height="200px">
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries
              </p>

            </div>
            <div class="cards-footer">
              <p>
                32 videos
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not"></span>
              </div>
              <i class="fas fa-heart"></i>
            </div>
          </a>
        </div>
        <div class="cards col-3 mb-2 mr-1">
          <a routerLink="/training/detailsModule/2">
            <div class="cards-body">
              <img src="assets/images/img/bg-masthead.jpg" height="200px">
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries
              </p>

            </div>
            <div class="cards-footer">
              <p>
                32 videos
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not"></span>
              </div>
              <i class="fas fa-heart"></i>
            </div>
          </a>
        </div>
        <div class="cards col-3 mb-2 mr-1">
          <a routerLink="/training/detailsModule/2">
            <div class="cards-body">
              <img src="assets/images/img/bg-masthead.jpg" height="200px">
              <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries
              </p>

            </div>
            <div class="cards-footer">
              <p>
                32 videos
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not"></span>
              </div>
              <i class="fas fa-heart"></i>
            </div>
          </a>
        </div>
      </div>
    </article>

    <aside>

    </aside>
  </div>

</section>
