<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Vos modules</h1>
        <hr class="divider"/>
      </div>

    </div>
  </div>
</header>


<section class="pricing-tables mt-4">
  <div class="container">
    <article>
      <h1>Commençons notre apprentissage</h1>
      <div class="row mt-4">
        <div class="cards col-4 mb-2 mr-1" *ngFor="let m of modules">
          <a routerLink="/detailsModule/{{m.id}}">
            <div class="cards-body">
              <img src="assets/images/img/bg-masthead.jpg" height="200px">
              <h3>{{m.libelle}}</h3>
              <p>
                {{m.description}}
              </p>

            </div>
            <div class="cards-footer">
              <p>
                {{m.nombreVideo}} videos
              </p>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not"></span>
              </div>
              <i class="fas fa-heart"></i>
            </div>
          </a>
        </div>
      </div>
    </article>

    <aside>

    </aside>
  </div>

</section>
