<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Votre panier</h1>
        <hr class="divider"/>
      </div>

    </div>
  </div>
</header>

<section class="pricing-tables">

    <article>
      <p>2 cours dans le panier</p>
      <div class="card">
        <img src="assets/images/img/portfolio/fullsize/2.jpg" alt="title" height="150px" width="200px">
        <div class="description">
          <p>La formation complete sur le CCNA</p>
          par John DOE | Ingénieur Sytème et Réseau<br/>
          35 heures au total. 15 sessions . tous niveaux<br/>

          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star not"></span>
          <span class="fa fa-star not"></span>
        </div>

        <div class="delete">
          <button class="btn btn-outline-primary">Supprimer</button>
        </div>

        <div class="price">
          30 000 FCFA
        </div>
      </div>
      <div class="card">
        <img src="assets/images/img/portfolio/fullsize/5.jpg" alt="title" height="150px" width="200px">
        <div class="description">
          <p>La formation complete sur le CCNA</p>
          par John DOE | Ingénieur Sytème et Réseau<br/>
          35 heures au total. 15 sessions . tous niveaux<br/>

          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star not"></span>
        </div>

        <div class="delete">
          <button class="btn btn-outline-primary">Supprimer</button>
        </div>

        <div class="price">
          30 000 FCFA
        </div>
      </div>
    </article>

    <aside>
      <div class="panier">

       <div class="total">
         Total:<br/>  <span>75 000 FCFA</span>

         <div class="reduction">
          <span> 5000 FCFA</span><br/>
           5% de réduction
         </div>

         <button class="btn btn-primary">Appliquer</button>
       </div>
      </div>
    </aside>

</section>
