<section>
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">Votre panier</h1>
          <hr class="divider"/>
        </div>

      </div>
    </div>
  </header>


  <div class="wizard">
    <div class="wizard-card">
      <div class="wizard-header">
        <div class="steps active">
          <div class="oneStep">
            <span class="step-name">Offre</span><br/>
            <span class="step-description">Détails de l'offre</span>
          </div>
        </div>
      </div>

      <div class="wizard-body">
        <div class="stepOne">
          <div class="detail-offer">
            <img src="assets/images/img/portfolio/fullsize/1.jpg" width="20%" height="100px">
            <div class="description-ofre">
              <h4>{{offre.libelle}}</h4>
              <h6>{{offre.description}}</h6>

              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star not"></span>
              <span class="fa fa-star not"></span>
            </div>
            <strong>{{offre.modules.length}} session{{offre.modules.length > 1 ? 's' : ''}}</strong>

          </div>
          <br/>
          <br/>
          <div class="detail-offer montant">
            <div class="d-flex">
              Montant :
              <span>{{offre.montant | number}} FCFA</span>
            </div>

            <div class="d-flex">
              réduction :
              <span>{{offre.reduction | number}} %</span>
            </div>

            <div class="d-flex">
              montant réduction :
              <span> {{(offre.montant * offre.reduction) / 100| number}} FCFA </span>
            </div>
          </div>

          <div class="detail-offer montant mt-2">
            <div class="d-flex">
              montant ht :
              <span> {{(offre.montant) | number}} FCFA </span>
            </div>

            <div class="d-flex">
              taxe :
              <span> {{(offre.taxe ? offre.taxe : 0) | number}} % </span>
            </div>

            <div class="d-flex">
              montant ttc :
              <span> {{(offre.montant) + ((offre.montant * (offre.taxe ? offre.taxe : 0)) / 100) | number}} FCFA </span>
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-footer mt-4">
        <button class="btn btn-primary" (click)="buy()">Payer</button>
      </div>


    </div>
  </div>
</section>
