section {
  background-color: #f1eeee;
  padding: 0;
}

footer {
  margin-top: 10px;
}

.wizard {
  width: 100%;
}

.wizard-card {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}


.step-name {
  font-size: 15px;
}

.step-description {
  font-size: 13px;
}

.wizard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.steps {
  width: 34%;
  text-align: center;
  padding-bottom: 10px;
}

.active {
  border-bottom: 3px solid #0d6efd;
  color: #0d6efd;
}

.active-type {
  color: #0d6efd;
}

.wizard-body {
  width: 100%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 30px;
}

.formulaire {
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

.detail-offer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.wizard-footer {
  text-align: right;
}

.inatif {
  color: #a5abb5;
}

.checked {
  color: #f4623a;
}

.not {
  color: #999595;
}

.montant {
  color: #7f98c1;
  font-size: 20px;
  text-transform: capitalize;
}

.montant span {
  color: #4484e2;
}

.padding {
  padding-top: 3rem !important
}

.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: #4484e2;
}
