<body>
<div class="container text-center">
  <div class="card_login">
    <div class="header">
      <img src="assets/images/img/bg-masthead.jpg" height="50px" class="logo">
      <span>Connexion</span>

    </div>
    <hr/>
    <br/>
    <div class="contain">

      <form class="auth-form">
        <div class="form-group">
          <input type="text" id="username" placeholder="Username" formControlName="username" required="required"
                 class="form-control">
        </div>

        <div class="form-group mt-4">
          <input type="password" id="pass" placeholder="Password" formControlName="pass" required="required"
                 class="form-control">
        </div>

        <a class="btn btn-primary mt-4 form-control" routerLink="/adminAccueil/cours">Soumettre</a>
        <br/> <br/>
      </form>
    </div>

    <div class="footer">
      <div>
        Copyright © 2021 - mabek
      </div>

      <div>
        <a routerLink="/">Accueil</a>
      </div>
    </div>

  </div>

</div>

</body>
