<nav>
  <div class="logo">
    <img src="assets/images/img/bg-masthead.jpg" height="50px">&nbsp;
    <span>Training</span>
  </div>
  <ul>
    <li><a routerLink="/adminAccueil/module">Statistiques</a></li>
    <li><a routerLink="/adminAccueil/module">Modules</a></li>
    <li><a routerLink="/adminAccueil/cours">Cours</a></li>
    <li><a routerLink="/adminAccueil/client" routerLinkActive="active">Client</a></li>
    <li><a routerLink="/adminAccueil/offre">Offres</a></li>
  </ul>
</nav>
<hr/>
<main>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>


<div class="footer">
  <div>
    Copyright © 2021 - mabek
  </div>

  <div>
    <a routerLink="/">Accueil</a>
  </div>
</div>
